bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
*.iml

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

**/publish/
TestResult*/
TestResults/
*.log

.DS_Store
Thumbs.db
Desktop.ini

appsettings.*.local.json
secrets.json